.RecipeDetails {
  background-color: lightgrey;
  padding: 0 5px;
  padding-bottom: 50px;
  position: relative;
}

.RecipeDetails .start-recipe-btn {
  background-color: green;
  border: none;
  border-radius: 10px;
  bottom: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  margin: 10px 5px;
  position: fixed;
  right: 0;
}

.RecipeDetails .instructions {
  background-color: rgb(255, 166, 0);
  border-radius: 20px;
  font-size: 18px;
  margin: 10px auto;
  padding: 10px;
}

.RecipeDetails h2 {
  margin-bottom: 10px;
  text-align: center;
}

.RecipeDetails .video {
  align-items: center;
  background-color: rgb(255, 166, 0);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-bottom: 15px;
}

.RecipeDetails .video iframe {
  height: 180px;
  width: 320px;
}
