.RecommendationCard {
  text-align: center;
}

.RecommendationCard img {
  max-height: 115px;
  max-width: 115px;
}

.RecommendationCard a {
  color: white;
}

.RecommendationCard h2 {
  font-size: 30px;
}

.RecommendationCard h3 {
  font-size: 20px;
  margin-bottom: 0;
}
