.default-buttons {
  margin-top: 150px;
}

.default-buttons button {
  background-color: green;
  border: none;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 30px;
  margin: 6px auto 10px;
  padding: 5px;
  text-align: center;
  width: 90%;
}

.default-buttons button:active {
  background-color: darkgreen;
}
