.Profile section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Profile .profile-email {
  font-size: 22px;
  font-weight: 600;
  margin: 20px;
}

.Profile .profile-done-btn {
  border: none;
  border-radius: 10px;
  font-size: 30px;
  margin: 10px auto;
  text-align: center;
  width: 90%;
}
