.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.footer {
  bottom: 20px;
  display: flex;
  height: 70px;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
}

.footer > a {
  padding: 10px;
}

.tag-footer {
  align-self: center;
  justify-content: space-evenly;
  background-color: rgb(255, 166, 0);
  border: 1px solid rgb(255, 166, 0);
  border-radius: 30px;
  box-shadow: rgb(185, 185, 185);
  display: flex;
  margin: 10px;
  padding: 8px;
  text-align: center;
  transition: 0.2s;
}

.tag-footer:hover {
  padding: 10px;
}

.login {
  align-items: center;
  background-image: url('https://media.istockphoto.com/photos/cookbook-with-vegetables-spices-and-herbs-shot-from-above-on-rustic-picture-id1125612329?k=20&m=1125612329&s=612x612&w=0&h=Y8wMGxEgJQb_KzeVEMlWwOewvwi0FJCuvoQNQ3EnaOA=');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login form {
  background-color: rgba(73, 141, 56, 0.918);
  border-radius: 50px 10px;
  padding: 10px;
  width: 80%;
}

.title-login {
  color: white;
  font-family: Poppins , sans-serif;
  font-size: 40pt;
  font-weight: 300;
  margin-bottom: 10%;
  opacity: 100%;
  text-align: center;
  text-shadow: 0 0 10px rgb(255, 166, 0);
}

.inputs-login {
  text-align: center;
  width: 100%;
}

.inputs-login input {
  border: 1px solid rgba(73, 141, 56, 0.918);
  border-radius: 10px;
  font-size: 12pt;
  margin: 10px;
  outline: none;
  padding: 15px;
  width: 80%;
}

.btn-login {
  margin-top: 20%;
  text-align: center;
}

.btn-enter {
  background-color: rgb(11, 133, 7);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Poppins , sans-serif;
  font-size: 25pt;
  margin: 10px;
  padding: 10px;
  transition: 600ms;
  width: 80%;
}

.btn-enter:disabled {
  box-shadow: none;
  color: rgb(24, 24, 24);
  opacity: 40%;
  transition: 600ms;
}

.category-filter-btn {
  display: flex;
  font-family: Poppins , sans-serif;
  font-size: 13pt;
  padding: 2px 2%;
}

.MainFood {
  align-items: center;
  background: white;
  color: #464646;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: space-evenly;
}

.section-recipe-card > a{
  align-content: space-between;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  box-shadow: 1px 5px 3px rgb(185, 185, 185);
  font-size: 13pt;
  color: #2e5172;
  justify-content: space-around;
  margin-bottom: 10px;
  text-align: center;
  width: 47%;
}

.section-recipe-card > a img {
  width: 100%;
}

.section-recipe-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.div-recipes {
  margin-bottom: 70px;
}

.section-favorite-recipes button {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  margin: 6px;
  text-align: center;
  border: none;
}

.section-favorite-recipes button:hover {
  padding: 10px;
}

.div-favorite-recipes {
  align-items: flex-start;
  margin: 20px;
}

.card-favorite-recipes {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  box-shadow: 1px 5px 3px rgb(185, 185, 185);
  margin-bottom: 30px;
  font-size: small;
}

.card-favorite-recipes p {
  font-weight: 500;
  font-size: medium;
}

.card-favorite-recipes img.image-card {
  width: 120px;
}

.card-favorite-recipes button {
  border: none;
}

.favorite-recipe-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.img-favorite-icon {
  display: flex;
  justify-content: flex-end;
}



/* .section-done-recipes button {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  margin: 6px;
  text-align: center;
  border: none;
}

.section-done-recipes button:hover {
  padding: 10px;
}

.DoneCard p {
  font-weight: 500;
  font-size: medium;
}

.DoneCard img.image-card {
  width: 120px;
}

.DoneCard button {
  border: none;
} */

.section-done-recipes button {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  margin: 6px;
  text-align: center;
  border: none;
}

.section-done-recipes button:hover {
  padding: 10px;
}

.div-done-recipes {
  align-items: flex-start;
  margin: 20px;
}

.DoneCard {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  box-shadow: 1px 5px 3px rgb(185, 185, 185);
  margin-bottom: 30px;
  font-size: small;
}

.DoneCard p {
  font-weight: 500;
  font-size: medium;
}

.DoneCard img.card-image {
  width: 120px;
}

.DoneCard button {
  border: none;
}

.done-recipe-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.img-done-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
