.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.footer {
  background-color: rgb(11, 133, 7);
  bottom: 0;
  height: 60px;
  left: 0;
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.login {
  align-items: center;
  background-image: url('https://media.istockphoto.com/photos/cookbook-with-vegetables-spices-and-herbs-shot-from-above-on-rustic-picture-id1125612329?k=20&m=1125612329&s=612x612&w=0&h=Y8wMGxEgJQb_KzeVEMlWwOewvwi0FJCuvoQNQ3EnaOA=');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login form {
  background-color: rgba(73, 141, 56, 0.918);
  border-radius: 50px 10px;
  padding: 10px;
  width: 80%;
}

.title-login {
  text-shadow: 0px 0px 10px rgb(255, 166, 0);
  color: white;
  font-family: Poppins , sans-serif;
  font-size: 40pt;
  font-weight: 300;
  margin-bottom: 10%;
  opacity: 100%;
  text-align: center;
}

.inputs-login {
  text-align: center;
  width: 100%;
}

.inputs-login input {
  border: 1px solid rgba(73, 141, 56, 0.918);
  border-radius: 10px;
  font-size: 12pt;
  margin: 10px;
  outline: none;
  padding: 15px;
  width: 80%;
}

.btn-login {
  margin-top: 20%;
  text-align: center;
}

.btn-enter {
  background-color: rgb(11, 133, 7);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: Poppins , sans-serif;
  font-size: 25pt;
  margin: 10px;
  padding: 10px;
  transition: 600ms;
  width: 80%;
}

.btn-enter:disabled {
  box-shadow: none;
  transition: 600ms;
  color: rgb(24, 24, 24);
  opacity: 40%;
}

header {
  width: 100%;
  align-items: center;
  background-color: rgb(255, 166, 0);
  color: black;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 5px;
  left: 0;
}

.section-header {
  display: flex;
}

.header-profile {
  display: flex;
  justify-content: space-between;
}

.header-radio-butto {
  border: 0.001px;
  height: 1.3em;
}

.title-name {
  color: white;
}

.category-filter-btn {
  display: flex;
  font-family: Poppins , sans-serif;
  font-size: 13pt;
  padding: 2px 2%;
}

.MainFood {
  align-items: center;
  background: white;
  color: #464646;
  display: flex;
  flex-flow: row wrap;
  font-family: sans-serif;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipe-card {
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  box-shadow: 1px 5px 3px rgb(185, 185, 185);
  font-size: 14pt;
  margin: 10px;
  text-align: center;
  width: 150px;
}


@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
